/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Project css starts */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-dark: hsl(233, 26%, 24%);
    --primary-light: hsl(136, 65%, 51%);
    --primary-bright: hsl(192, 70%, 51%);
    --neutral-dark: hsl(233, 8%, 62%);
    --neutral-light: hsl(220, 16%, 96%);
    --neutral-very-light: hsl(0, 0%, 98%);
    --neutral-white: hsl(0, 0%, 100%);
    --primary-font-family: "Public Sans", sans-serif;
}

html,
body {
    font-family: var(--primary-font-family);
    font-size: 15px;
    user-select: none;
}


/* header */

header {
    padding: 15px 10px;
    background-color: hsl(0, 0%, 100%);
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: #acadb2;
}

.brand-title {
    font-size: 1.5rem;
    margin: 0.5rem;
}

.navbar-links {
    position: absolute;
    top: 140%;
    z-index: 12;
    background: linear-gradient( to bottom, rgba(45, 49, 77, 0.787), hsla(0, 0%, 100%, 0));
    width: 100vw;
    height: 80vh;
    display: none;
    padding-top: 20%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 50vw;
    border-radius: 5px;
    padding: 20px 0;
}

.navbar-links ul {
    width: 87%;
    height: unset;
    background-color: hsl(0, 0%, 100%);
    flex-direction: column;
    margin: 0 auto;
}

.navbar-links li {
    list-style: none;
    border: 2px solid transparent;
}

.navbar-links li:hover {
    border-image: linear-gradient( to right, var(--primary-light), var(--primary-bright));
    border-image-slice: 0% 0% 50% 0%;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: rgb(8, 8, 8);
    padding: 1rem;
}

.toggle-button {
    position: absolute;
    top: 0.3rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    user-select: none;
}

.toggle-button .bar {
    position: absolute;
    top: 20;
    left: 50%;
    right: 20%;
    height: 5px;
    width: 80%;
    border-radius: 10px;
}

.navbar-links.active {
    display: flex;
}

.navbar {
    flex-direction: column;
    align-items: flex-start;
    color: #acadb2;
}

.toggle-button {
    display: flex;
}

.navbar-links {
    display: none;
    width: 100%;
    box-shadow: rgb(241, 239, 239);
}

.navbar-links ul li {
    text-align: center;
}

.navbar-links ul li a {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    color: var(--primary-dark);
}

.navbar-links.active {
    display: block;
    padding-top: 25px;
}

header {
    padding: 15px 0px;
}


/* nav */

.hero {
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
}


/* hero section */

.background-img-desktop img {
    display: none;
}

.background-image {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.background-image img {
    width: 100%;
}

.mockups {
    display: block;
    position: absolute;
    transform: translateY(-10%);
    bottom: 0;
    z-index: 1;
}

.intro {
    text-align: center;
}

.digit-banking {
    justify-content: center;
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 20px;
    color: #393a58;
}

.center p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #393a58;
}

.online-financial,
.content {
    margin-top: 20px;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    line-height: 1.8rem;
    margin-bottom: 20px;
    color: #acadb2;
}


/* button */

.bank-logo-desktop {
    display: none;
}

.mobile-view {
    display: none;
}

button {
    padding: 15px 40px;
    border-radius: 25px;
    background: linear-gradient( 0.25turn, var(--primary-light), var(--primary-bright));
    border: none;
    margin: 30px auto;
    color: var(--neutral-white);
    font-size: 1rem;
}

.invite {
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 500;
    color: white;
}


/* choose bank section */

.choose-bank {
    background-color: #f4f5f7;
    padding-bottom: 50px;
}

.content-center,
.center {
    padding: 8px 10px;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    line-height: 2.2rem;
    margin-bottom: 20px;
    color: #393a58;
}

.reason {
    font-size: 1.8rem;
    line-height: 2.2rem;
    width: 90%;
}

.reason {
    padding-top: 20px;
}


/* latest article */

.latest {
    background-color: var(--neutral-very-light);
    padding-top: 40px;
}

.article-heading {
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    line-height: 2.3rem;
    margin-bottom: 40px;
    color: #393a58;
}

.wilson,
.claire {
    background-color: white;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.article-collection {
    padding: 10px 25px;
}

.article-collection img {
    padding: 0px 0px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}

.author-description {
    padding: 10px 20px;
}

.author-name {
    padding-bottom: 15px;
    color: var(--neutral-dark);
    font-size: 0.6rem;
}

.book-title {
    width: 85%;
    margin-bottom: 10px;
    color: #555558;
    font-size: 1.1rem;
    line-height: 1.3rem;
    letter-spacing: -0.02rem;
}

.book-intro {
    color: var(--neutral-dark);
    font-size: 0.89rem;
    line-height: 1.25rem;
    letter-spacing: -0.01rem;
}


/* footer */

footer {
    background-color: var(--primary-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.logo {
    padding: 40px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: brightness(1) invert(0);
}

.social-media img {
    margin: 12px 5px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--neutral-white);
}

.adminstration {
    align-items: center;
    justify-content: center;
    color: var(--neutral-white);
}

.about-site {
    margin: 0px auto;
}

.about>* {
    text-align: center;
}

li,
a {
    text-decoration: none;
    color: #c1c4d5;
    list-style-type: none;
    padding: 10px;
}

.btn {
    justify-items: flex-start;
    padding-left: 56px;
}

.about-btn {
    display: flex;
    flex-direction: column;
}

.btn-2 {
    align-items: center;
}

.copy-right {
    padding-bottom: 20px;
    color: var(--neutral-dark);
}

.about li a {
    color: var(--neutral-white);
    margin-top: 25px auto;
}


/* media query for desktop size screen */

@media screen and (min-width: 1300px) {
    header {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
        padding: 0% 10%;
    }
    .navbar-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 0;
    }
    .navbar-links ul {
        display: flex;
        flex-direction: row;
        height: unset;
        justify-content: center;
    }
    .navbar-links li a {
        color: var(--neutral-dark);
        font-size: 0.9rem;
    }
    .navbar-links ul li a {
        color: var(--neutral-dark);
        font-size: 1.1rem;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .brand-title {
        display: none;
    }
    .toggle-button {
        display: none;
    }
    .bank-logo-desktop {
        display: inline;
        margin: auto 0;
    }
    .mobile-view {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    li a {
        text-decoration: none;
    }
    button:hover {
        background-image: linear-gradient(to right, #31cf70ad, #2cbacab7);
    }
    .nav-box-btn {
        /* padding-top: 18px; */
        justify-content: flex-end;
        font-size: 1.1rem;
    }
    .nav-box-btn button {
        margin: 16px
    }
    .hamburger {
        display: none;
    }
    .nav-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: var(--neutral-dark);
    }
    .nav-box-end {
        display: flex;
    }
    .hero {
        display: flex;
        flex-direction: row;
        background-color: var(--neutral-very-light);
        margin-bottom: -24%;
        overflow: visible;
    }
    .background-image .mobile-bg-img {
        display: none;
    }
    .background-image {
        order: 1;
        height: 115vh;
        overflow: hidden;
        position: relative;
    }
    .background-img-desktop img {
        display: block;
        order: 1;
        width: 150%;
        position: absolute;
        bottom: 0%;
        transform: translate(-5%, -30%);
    }
    .mockups {
        transform: translate(18%, -18%);
    }
    .intro {
        width: 75%;
        padding: 5% 10% 15% 10%;
        order: 0;
    }
    .digit-banking {
        font-size: 3rem;
        line-height: 3.7rem;
        text-align: left;
        font-weight: 400;
        color: var(--primary-dark);
    }
    .content {
        text-align: left;
        padding-left: 0px;
        font-size: 1.1rem;
        line-height: 2rem;
    }
    button {
        display: flex;
        justify-content: flex-start;
        font-size: 0.9rem;
    }
    .choose-bank {
        margin-top: 0;
        padding: 5% 10% 5% 10%;
    }
    .content-center {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        padding-left: 0px;
        font-size: 1.3rem;
        line-height: 1.4rem;
        margin-top: 10px;
        margin-bottom: 0px;
        margin-right: 14px;
        color: var(--primary-dark);
        padding-bottom: 2px;
    }
    .online-financial,
    .content {
        padding: 0 0px;
        color: var(--neutral-dark);
        font-size: 1rem;
        line-height: 1.5rem;
        margin-right: 10px;
        padding-top: 0px;
    }
    .reason {
        font-size: 1.8rem;
        line-height: 1.1rem;
        padding-bottom: 10px;
        color: var(--primary-dark);
        font-weight: 400;
        letter-spacing: -0.08rem;
    }
    .bank-content {
        display: flex;
        justify-content: flex-start;
        text-align: left;
        font-size: 1.1rem;
        line-height: 1.8rem;
        color: var(--neutral-dark);
    }
    .center {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;
    }
    .bank-features {
        display: flex;
        justify-content: space-between;
        flex: 1;
    }
    .latest {
        padding: 2% 10% 5% 10%;
        background-color: var(--neutral-very-light);
        margin-bottom: 15px;
    }
    .article-heading {
        margin-bottom: 18px;
    }
    .article-heading h1 {
        text-align: left;
        color: var(--primary-dark);
        line-height: 7rem;
    }
    .article-collection img {
        width: 100%;
    }
    .article-collection {
        display: flex;
        padding: 0px 0px 0 0;
        justify-content: space-between;
    }
    .article-collection img {
        width: 100%;
        height: 250px;
    }
    .claire,
    .wilson {
        flex-basis: 100vw;
        margin: 0% 0.9%;
        background-color: white;
    }
    .book-title:hover {
        color: var(--primary-light);
    }
    .footer-box {
        display: flex;
        flex-direction: row;
        padding: 0 10% 0 10%;
        justify-content: space-between;
        color: var(--neutral-white);
        font-size: 1.1rem;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .logo {
        padding-top: 15px;
    }
    .social-media {
        padding-top: 8px;
        padding-bottom: 0px
    }
    .social-media img:hover {
        filter: invert(0.11) sepia(1) saturate(5.5) hue-rotate(68.4deg) brightness(0.96);
    }
    .logo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .contact .about {
        display: flex;
        align-items: flex-start;
        text-align: left;
    }
    .about-site,
    button p {
        text-align: left;
        color: var(--neutral-white);
    }
    .about>* {
        text-align: left;
    }
    .about li a {
        color: var(--neutral-white);
        margin: 1px auto;
        font-size: 0.9rem
    }
    li,
    a {
        text-decoration: none;
        list-style-type: none;
        padding: 8px;
    }
    .about li a:hover {
        color: var(--primary-light);
    }
    button {
        padding: 15px 40px;
        border-radius: 25px;
        background: linear-gradient( 0.25turn, var(--primary-light), var(--primary-bright));
        border: none;
        margin: 30px 0;
        color: var(--neutral-white);
        font-size: 1rem;
    }
    .about-btn {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .btn-2 {
        margin: 10px 0 20px;
        font-size: 0.9rem
    }
    .copy-right {
        margin-top: 5px;
        padding-bottom: 10px;
        color: var(--neutral-dark);
        font-size: 0.9rem
    }
}

@media screen and (min-width: 1697px) {
    .digit-banking {
        font-size: 4rem;
        line-height: 5rem;
    }
}


/* @media screen and (min-width: 1300px) {
    .hero {
        display: flex;
        flex-direction: row;
        background-color: var(--neutral-very-light);
        margin-bottom: -16%;
        overflow: visible;
    }
    .background-image .mobile-bg-img {
        display: none;
    }
    .background-image {
        order: 1;
        height: 90vh;
        overflow: hidden;
        position: relative;
    }
    .background-img-desktop img {
        display: block;
        order: 1;
        width: 150%;
        position: absolute;
        bottom: 0%;
        transform: translate(-5%, -17%);
    }
    .mockups {
        transform: translate(18%, -7%);
    }
    .intro {
        width: 75%;
        padding: 5% 10% 15% 10%;
        order: 0;
    }
} */